# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*
/A3/POO2/target/
/A3/A3_Ex1/nbproject/private/
/A3/A3_Ex1/build/
/A3/A3_Ex1/dist/
/A3/A3_Ex2/nbproject/private/
/A3/A3_Ex2/build/
/A3/A3_Ex2/dist/
/A3/A3_Ex3/nbproject/private/
/A3/A3_Ex3/dist/
/A3/A3_Ex3/build/
/A4/POO3/nbproject/private/
/A4/POO3/build/
/A4/POO3/dist/
/A4/A4_Ex1/nbproject/private/
/A4/A4_Ex1/build/
/A4/A4_Ex1/dist/
/A4/A4_Ex2/nbproject/private/
/A2/A2_Ex1/dist/
/A4/A4_Ex2/dist/
/A4/A4_Ex2/build/
/A4/A4_Ex3/nbproject/private/
/A4/A4_Ex3/build/
/A4/A4_Ex3/dist/
/A4/POO4/nbproject/private/
/A4/POO4/dist/
/A4/POO4/build/
/A6/Aula6/nbproject/private/
/A6/Aula6/build/
/A6/Aula6/dist/
/A6/Aula6.1/nbproject/private/
/A6/Aula6.1/build/
/A6/Aula6_1/nbproject/private/
/A6/Aula6_1/build/
/A6/Aula6_1/dist/
/A6/A6_Ex1/nbproject/private/
/A6/A6_Ex1/dist/
/A6/A6_Ex1/build/
/A6/A6_Ex2/nbproject/private/
/A6/A6_Ex2/dist/
/A6/A6_Ex2/build/
/A6/A6_Ex3/nbproject/private/
/A6/A6_Ex3/build/
/A6/A6_Ex3/dist/
/A6/Aula8/nbproject/private/
/A6/Aula8/build/
/A6/Aula8/dist/
/A8/Aula8/nbproject/private/
/A8/Aula8/dist/
/A8/Aula8/build/
/A8/Aula8/A8_Ex1/nbproject/private/
/A8/Aula8/A8_Ex1/build/
/A8/Aula8/A8_Ex1/dist/
